$bg: #0D0E0F;
$contrastbg: #191919;
$bgSecondary: #303030;
$bgSecondaryAlt: #d9d7d6;
$fg: #d9d7d6;
$fgDim: #d9d7d6;
$watermelon: #df5b61;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #1c252c;
$red: #df5b61;
$blue: #6791c9;
$cyan: #67afc1;
$blue-desaturated: #67afc1;
$magenta: #bc83e3;
$purple: #bc83e3;
$green: #78b892;
$aquamarine: #78b892;
$yellow: #de8f78;
$accent: $blue;
$javacafeMagenta: #bc83e3;
$javacafeBlue: #6791c9;
